.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


header{
  background-color: black;
}

.link{
  text-decoration: none;
  padding: 1em;
  color: white;
}

.home-link{
  text-decoration: wavy;
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-family: cursive;
  text-decoration-line: underline;
  text-underline-offset: 0.5em;
}

.accordion-item{
  height: 3em;
  width: 60%;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}

.main-content {
  display: flex;
  flex-direction: row; /* Makes it a row on large screens */
  flex-wrap: wrap; /* Allows items to wrap onto the next line on small screens */
}

@media (max-width: 768px) {
  .main-content {
      flex-direction: column; /* Stacks the items in a column on small screens */
  }
}

/* Optional: You may want to add some padding or margins to your columns for spacing */
.main-content > div {
  flex-basis: 50%; /* Each child takes up 50% of the width on large screens */
  padding: 10px; /* Add some space around the items */
}

@media (max-width: 768px) {
  .main-content > div {
      flex-basis: 100%; /* Each child takes up 100% of the width on small screens */
  }
}


.active-tab {
  color: grey;
  text-decoration-line: underline;
  font-size: larger !important;
  border-radius: 1px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
